<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>Desafio_Field_Control</title>
</head>

<body>
    
    <header>
        <h1>Busca por Repositórios GitHub</h1>
    </header>

    <section>
        <!-- Teste com exemplo de URL da API -->
        <button (click)="obterTodosRepositorios()">Obter</button>
    </section>

    <footer>
        <p>&copy; CopyRight</p>
    </footer>

    <script src="src/assets/script.js"></script>

</body>

</html>